.App {
  background-color: #f6f6ef;
  margin-left: 100px;
  margin-right: 100px;
}

* {
  padding: 0;
  font-family: system-ui;
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

li {
  list-style: none;
  margin-left: 15px;
  font-weight: 440;
}

h1 {
  font-weight: 475;
  margin-left: 5px;
}

.search {
  display: flex;
  align-items: center;
  background-color: #ff742b;
  height: 50px;
  padding: 4px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}

.hn-logo {
  margin-right: 8px;
  font-size: 1.5rem;
  color: white;
  border: 2px solid white;
  display: inline;
  padding: 5px 10px;
  font-weight: bold;
}
.searchCat {
  display: inline-block;
  margin: 0.3em;
}

.label {
  align-items: start;
}

.textbox {
  height: 35px;
  width: 70%;
}

.Footer_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  font-size: 14px !important;
  padding: 8px 8px 30px;
  margin: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
}

.grey {
  color: #828282 !important;
  font-size: 0.75em;
}
